# Ignore node_modules directory
node_modules

# Ignore logs
*.log

# Ignore any .env files
.env

# Ignore the npm debug log
npm-debug.log
npm-debug.log
*.log

# Ignore .git directory
.git/

# Ignore .gitignore file
.gitignore

# Ignore any dist directory
dist/

